/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './app/lib/ui-badge/badge.styles.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

pre {
  @apply rounded-b-md rounded-tr-md;
}

.btn {
  @apply bg-gray-100;
  @apply px-3 py-2;
  @apply rounded-md;
  @apply hover:bg-blue-600 hover:text-white;
  &.active {
    @apply bg-blue-600 text-white;
  }
  &.primary{
    @apply bg-blue-600 text-white;
    @apply hover:bg-blue-800;
  }
}
